﻿@page
@model PE_PRN.Pages.EyeListModel

@{
    var type = HttpContext.Session.GetString("Type");
}
<style>
    .table-container {
        display: flex;
        justify-content: center;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    thead th {
        background-color: #f2f2f2;
    }
</style>

@if (type == "1")
{
    <div class="button-container">
        <a asp-page="./CreateProduct" class="create-button">Create</a>
    </div>
}

<div class="table-container">
<table>
    <thead>
        <tr>
            <th>Eyeglasses Id</th>
            <th>Eyeglasses Name</th>
            <th>Eyeglasses Description</th>
            <th>Frame Color</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Created Date</th>
            <th>Lens Type</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var eyeglass in Model.Eyeglasses)
        {
            <tr>
                <td>@eyeglass.EyeglassesId</td>
                <td>@eyeglass.EyeglassesName</td>
                <td>@eyeglass.EyeglassesDescription</td>
                <td>@eyeglass.FrameColor</td>
                <td>@eyeglass.Price</td>
                <td>@eyeglass.Quantity</td>
                <td>@eyeglass.CreatedDate</td>
                <td>@eyeglass.LensType.LensTypeName</td>
                @if (type == "1")
                {
                    <td style="display: flex">
                            <a asp-page="./EyeUpdate" asp-route-EyeglassesId="@eyeglass.EyeglassesId" class="btn btn-primary">Update</a>

                            <a asp-page="./EyeRemove" asp-route-EyeglassesId="@eyeglass.EyeglassesId" class="btn btn-primary">Remove</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
</div>
<!-- Hiển thị phân trang -->
<div>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                    <a class="page-link" href="/EyeList?pageIndex=@i&searchString=@Model.SearchString">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>
