﻿@page
@model PE_PRN.Pages.EyeUpdateModel
@{
}

<h1>Update Eyeglass</h1>

<hr />

@*<div asp-validation-summary="All" class="text-danger"></div>*@ @*thẻ này đễ hiển thị full lỗi có trên view*@

<form method="post">
    <input asp-for="Eyeglass.EyeglassesId" type="hidden" class="form-control" />
    <div class="form-group">
        <label asp-for="Eyeglass.EyeglassesName" class="control-label"></label>
        <input asp-for="Eyeglass.EyeglassesName" class="form-control" />
        <span asp-validation-for="Eyeglass.EyeglassesName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Eyeglass.EyeglassesDescription" class="control-label"></label>
        <input asp-for="Eyeglass.EyeglassesDescription" class="form-control" />
        <span asp-validation-for="Eyeglass.EyeglassesDescription" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Eyeglass.FrameColor" class="control-label"></label>
        <input asp-for="Eyeglass.FrameColor" class="form-control" />
        <span asp-validation-for="Eyeglass.FrameColor" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Eyeglass.Price" class="control-label"></label>
        <input asp-for="Eyeglass.Price" class="form-control" />
        <span asp-validation-for="Eyeglass.Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Eyeglass.Quantity" class="control-label"></label>
        <input asp-for="Eyeglass.Quantity" class="form-control" />
        <span asp-validation-for="Eyeglass.Quantity" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Eyeglass.CreatedDate" class="control-label"></label>
        <input asp-for="Eyeglass.CreatedDate" class="form-control" readonly/> @*ko cho phép người dùng chỉnh sửa thông tin field này*@
        <span asp-validation-for="Eyeglass.CreatedDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Eyeglass.LensTypeId" class="control-label"></label>
        <select asp-for="Eyeglass.LensTypeId" asp-items="Model.LensTypeNameOptions" class="form-control"></select>
        <span asp-validation-for="Eyeglass.LensTypeId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
</form>

<hr />

<div>
    <a asp-page="/Index">Back to List</a>
</div>