﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@{
    var type = HttpContext.Session.GetString("Type");
}
<style>
    .table-container {
        display: flex;
        justify-content: center;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    thead th {
        background-color: #f2f2f2;
    }
</style>


@if (type == "1")
{
    <div class="button-container">
        <a asp-page="./EyeCreate" class="create-button">Create</a>
    </div>
}

<div>
    <form method="post">
        <label for="sortOrder">Sắp xếp theo:</label>
        <select id="sortOrder" name="sortOrder">
            <option value="ascending">Giá tăng dần</option>
            <option value="descending">Giá giảm dần</option>
        </select>
        <button type="submit">Submit</button>
    </form>
</div>
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Eyeglasses Id</th>
                <th>Eyeglasses Name</th>
                <th>Eyeglasses Description</th>
                <th>Frame Color</th>
                <th>
                    Price
                    
                    
                </th>
                <th>Quantity</th>
                <th>Created Date</th>
                <th>Lens Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var eyeglass in Model.Eyeglasses)
            {
                <tr>
                    <td>@eyeglass.EyeglassesId</td>
                    <td>@eyeglass.EyeglassesName</td>
                    <td>@eyeglass.EyeglassesDescription</td>
                    <td>@eyeglass.FrameColor</td>
                    <td>@eyeglass.Price</td>
                    <td>@eyeglass.Quantity</td>
                    <td>@eyeglass.CreatedDate</td>
                    <td>@eyeglass.LensType.LensTypeName</td>
                    @if (type == "1")
                    {
                        <td style="display: flex;">
                            <a asp-page="./EyeUpdate" asp-route-EyeglassesId="@eyeglass.EyeglassesId" class="btn btn-primary">Update</a>

                            <a asp-page="./EyeRemove" asp-route-EyeglassesId="@eyeglass.EyeglassesId" class="btn btn-primary">Remove</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
<!-- Hiển thị phân trang -->
<div>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                    <a class="page-link" href="/Index?pageIndex=@i">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>