﻿@page
@model TAMPVM.ASM2.App.Pages.CreateProductModel
@{
}

<h2>Create Product</h2>

<div class="create-product" style="width: 20%">
    <form method="post">
        <div class="form-group">
            <label asp-for="ProductName"></label>
            <input asp-for="ProductName" class="form-control" />
            <span asp-validation-for="ProductName" class="text-danger"></span>
        </div>

        @*<div class="form-group">
            <label asp-for="QuantityPerUnit"></label>
            <input asp-for="QuantityPerUnit" class="form-control" />
            <span asp-validation-for="QuantityPerUnit" class="text-danger"></span>
        </div>*@

        <div class="form-group">
            <label asp-for="UnitPrice"></label>
            <input asp-for="UnitPrice" class="form-control" />
            <span asp-validation-for="UnitPrice" class="text-danger"></span>
        </div>

        <!-- Các trường khác -->

        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>