﻿@page
@model TAMPVM.ASM2.App.Pages.ProductListModel
@{
    var type = HttpContext.Session.GetString("Type");
}

<style>
    .table-container {
        display: flex;
        justify-content: center;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    thead th {
        background-color: #f2f2f2;
    }
</style>

<h1>Product List</h1>

@if (type == "1")
{
    <div class="button-container">
        <a asp-page="./CreateProduct" class="create-button">Create</a>
    </div>
}

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Unit Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.ProductId</td>
                    <td>@product.ProductName</td>
                    <td>@product.UnitPrice</td>
                    @if (type == "1")
                    {
                        <td>
                            <a asp-page="./UpdateProduct" asp-route-ProductId="@product.ProductId" class="btn btn-primary">Update</a>

                            <a asp-page="./RemoveProduct" asp-route-ProductId="@product.ProductId" class="btn btn-primary">Remove</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

    
</div>

<!-- Hiển thị phân trang -->
<div>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                    <a class="page-link" href="/ProductList?pageIndex=@i&pageSize=@Model.PageSize">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>