﻿@page
@model TAMPVM.ASM2.App.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @ViewData["ErrorMessage"]
    </div>
}

<div class="register-account" style="width: 20%">
    <form method="post">
        @*<div asp-validation-summary="All" class="text-danger"></div>*@ @*cái này để thông báo tất cả lỗi có trong trang*@

        <div class="form-group">
            <label asp-for="Username">Username</label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" type="password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="FullName">Fullname</label>
            <input asp-for="FullName" class="form-control" />
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>
