﻿@model IEnumerable<Lab3.Models.Products>

@{
    ViewData["Title"] = "Index";
}

<h1>Products</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProdName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockQty)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="tableBody"></tbody>
</table>



@*@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProdName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockQty)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProdId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProdId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProdId">Delete</a>
            </td>
        </tr>
}*@